{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": { "node": "current" }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      { "loose": true, "useBuiltIns": true }
    ],
    ["@babel/plugin-proposal-class-properties"]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
