{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {"node": "current"}
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
